/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.container-quote {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}
.container-quote {
    width: 90%;
    padding: 0;
}

/* For devices larger than 550px */
@media (min-width: 750px) {
  .container {
    width: 80%; }
  .container-quote {
    width: 95%;
}
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.9em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 2.9rem;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #4d4d4d; 
  -webkit-font-smoothing: antialiased;}
body {
	 padding: 0px 0 50px 0;
	 font-size: 19px;
	 min-height: 100%;
	 font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	 font-weight: 400;
	 font-style: normal;
	 line-height: 29px;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
}
h1 { font-size: 5.5rem; line-height: 1.05;  letter-spacing: -.1rem; font-weight: 500; }
h2 { font-size: 4rem; line-height: 1.15; font-weight: 500; }
h3 { font-size: 3.6rem; line-height: 1.3;  letter-spacing: -.1rem; font-weight: 500; }
h4 { font-size: 1.9rem; line-height: 1.35; letter-spacing: -.08rem; font-weight: 600; }
h5 { font-size: 1.6rem; line-height: 1.5;  letter-spacing: -.05rem; font-weight: 600; }
h6 { font-size: 1.4rem; line-height: 1.6;  letter-spacing: 0; }
blockquote { font-family: "PTSerifW01-BookItalic"; font-size: 4.2rem; line-height: 1.6; font-style: italic; color: #3cbebc; text-align: center; }
p {
  margin-top: 0;
  font-family: "PT Serif", "Georgia", "Times", "Times New Roman", serif;
  color: #4c4c56;
}


/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 7rem; }
  h2 { font-size: 4.8rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 2.3rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.8rem; }
  p { font-size: 2.3rem; line-height: 3.4rem;}
  blockquote {font-size: 5rem; }
    
}

/* Larger than desktop */
@media (min-width: 1200px) {
  h1 { font-size: 9.3rem; }
  h2 { font-size: 5.8rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 2.6rem; }
  h5 { font-size: 2.2rem; }
  h6 { font-size: 1.8rem; }
  p { font-size: 2.6rem; line-height: 3.8rem;}
  blockquote {font-size: 6rem;}
}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #3cbebc;
  text-decoration: none; }
a:hover {
  color: #53dbd8; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 46px;
  padding: 2px 30px 0px 30px;
  color: #3cbebc;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #3cbebc;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #53dbd8;
  border-color: #53dbd8;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.logo {
    width: 11rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.name {
    padding-top: 1.7rem;
    font-size: 3.2rem;
    font-weight: 100;
    color: #4c4c56;
}
.logo-header {
    background-color: #e2e2e2;
    padding: 8rem 2rem 0.5rem 2rem;
    margin-left: auto;
    margin-right: auto;
}
p.designer {
    font-size: 1.7rem;
}
nav.home-nav-container {
    margin: 0 auto;
    padding-top: 2rem;
}
nav div a.home-nav {
    font-size:1.6rem;
    letter-spacing: 0.05rem;
    float:left;
    display: inline;
    width: 29%;  
    padding: .2rem 0;
    margin: 0 0.7rem;
    text-decoration: none;
    color: #acb3b6;
}
nav div a:hover {
    color: #3cbebc;
}
a.nav-active {
    font-size: 2.2rem;
    color: #3cbebc;
    border-bottom: solid 2px;
    float:left;
    display: inline;
    width: 29%;  
    padding: .2rem 0;
    margin: 0 0.7rem;
}

@media (min-width: 400px) {
    .logo-header { width: 30rem; } 
    nav { width: 34rem; }
}

@media (min-width: 550px) {
    .logo-header { width: 30rem; }
    nav.home-nav-container { width: 34rem; }
}

@media (min-width: 750px) {
    .logo-header { width: 32rem; } 
    svg.logo {width: 12rem; padding-top: 1.8rem; }
    .name { font-size: 3.2rem; padding-top: 2rem; }
    p.designer { font-size: 1.7rem; padding-bottom: 0.5rem; }
    nav.home-nav-container { width: 36rem; }
}

@media (min-width: 1000px) {
    .logo-header { width: 45rem; } 
    svg.logo { width: 16rem; padding-top: 3.2rem; }
    .name { font-size: 4.4rem; padding-top: 3.2rem; }
    p.designer { font-size: 2.1rem; padding-top: 1rem; padding-bottom: 2rem; }
    nav.home-nav-container { width: 49rem; padding-top: 2rem; }
    nav div a.home-nav { width: 29%; margin: 2.4rem 1rem; padding-bottom: 1rem; font-size: 2rem; }
    a.nav-active { font-size: 3rem; margin: 2.4rem 1rem; padding-bottom: 1rem;}
}

@media (min-width: 1200px) {
    .logo-header { width: 58rem; } 
    svg.logo {width: 21rem; padding-top: 5.8rem; }
    .name { font-size: 5.6rem; padding-top: 4.2rem; }
    p.designer { font-size: 2.3rem; padding-top: 2rem; padding-bottom: 3.3rem; }
    nav.home-nav-container { width: 62rem; }
    nav div a.home-nav { width: 29%; margin: 3.6rem 1.2rem; padding-bottom: 1.8rem; font-size: 2.5rem; }
    a.nav-active { margin: 3.6rem 1.2rem; padding-bottom: 1.8rem; font-size: 3.9rem; }
    
}

/* Home Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.work-left {
    text-align: center;
    vertical-align: middle;
}
.work-right {
    text-align: center;
    vertical-align: middle;
}
.work-leadin {
    color: #acb3b6;
    letter-spacing: .1rem;
    line-height: 3rem;
}

/* Larger than phablet */
@media (min-width: 750px) {
    .work-left { text-align: left; }
    .work-right { text-align: right; }
}

/* Smaller than tablet */
@media (max-width: 550px) {
    .order-1 { order:1; }
    .order-2 { order:2; }
    .flex { display: flex; flex-flow:column; }
}

/* Case Studies
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.souschef-stove-intro {
    background: url('souschef-hero-bw-2.jpg') bottom center no-repeat; 
    background-size: cover;
    margin-bottom: 5rem;
}
.what-I-made {
    background: url('souschef-hero.jpg') bottom center no-repeat; 
    background-size: cover;
    margin-bottom: 5rem;
    padding: 3rem 0 24rem 0;
}
.ui-elements {
    background: url('3d-elements.jpg') bottom center no-repeat; 
    background-size: cover;
    margin-bottom: 5rem;
    padding: 3rem 0 24rem 0;
}
.gradient-bg{
    background: #034EA2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #403B4A , #E7E9BB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00b3f0, #034ea2 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.logo-samsung {
    text-align: center;
    width: 25rem;
    padding: 15rem 0;
}

.logo-position {
    text-align: center;
    margin-top: 5rem;
}
.logo-cs {
    width: 3rem;
}
.cs-name-white {
    color: #FFFFFF;
    letter-spacing: 0.1rem;
}
.cs-nav {
    margin: 0 auto;
    padding-top: 2rem;
}
.cs-nav-display {
    display: inline;
    margin: 0rem 0.9rem;
    color: #e2e2e2;
}
.cs-title {
    margin-top: 5rem;
    color: #FFFFFF;
    letter-spacing: 0.1rem;
}

a.cs-nav-color{
    color: #e2e2e2;
}

.project-time {
    color: #3cbebc;
    font-style: italic;
    font-size: 2.2rem;
}
.project-process {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #e2e2e2;
    font-size: 1.7rem;
    line-height: 2.4rem;
    padding-bottom: 4rem;
}
.cs-section {
    margin-bottom: 4rem;
}
.quote-section {
    margin-bottom: 7rem;
}
.title-centered {
    text-align: center;
}
.h4-title-centered {
    text-align: center;
}
.inset-image {
    width: 80%;
}
.img-centered {
    text-align: center;
    margin: 5rem 0;
}
.gray-section {
    background-color: #e2e2e2;
    padding: 5rem 0rem;
}
.light-gray-section {
    background-color: #f4f4f4;
    padding: 5rem 0rem;
}
.teal-section {
    background-color: #3cbebc;
    padding: 5rem 0rem;
}
.white-type {
    color: #ffffff;
}
.design-challenge {
    float: left;
    text-align: center;
}
.dc-spacing{
    padding-left: 0rem;
}
.list-style {
    list-style: none;
    font-size: 2.6rem;
    line-height: 3.9rem;
    margin-top: 2rem;
}
.bold-li {
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.learned-bg {
    background: url('coffee.jpg') bottom center no-repeat; 
    background-size: cover;
    padding: 8rem 0rem;
}
.border-box {
    background: rgba(255, 255, 255, 0.95);
    padding: 8rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    border: 1px solid #e2e2e2;
}
.line-space {
    letter-spacing: 0.05rem;
}
.inset {
    padding: 0;
}
p.descriptor {
    font-size: 1.7rem;
    text-align: center;
}
.img-descriptor {
    font-size: 1.7rem;
    font-style: italic;
    color: #acb4b7;
    text-align: center;
    line-height: 2.5rem;
}
.test-descriptor {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.7rem;
    font-style: italic;
    color: #3cbebc;
    text-align: center;
    padding-top: 2%;
}
img.icon {
    width: 200px;
}
img.icon-small {
    width: 140px;
}
.teal {
    color: #3cbebc;
}
.hidden-mobile {
  display: none !important;
}
@media (min-width: 550px) { 
    .cs-title { width: 50rem; margin: 0 auto; padding: 7rem 0 3rem 0; }
    .project-process { width: 40rem; margin: 0 auto; padding-bottom: 6rem; }
    .title-centered { margin-bottom: 3rem;}
    .cs-section { margin-bottom: 5rem; }
    .quote-section { margin-bottom: 12rem; }
    .inset { padding: 3rem; }
    p.descriptor { font-size: 2rem; }
    .what-I-made { padding: 3rem 0 36rem 0; }
    .logo-samsung { width: 35rem; }

}

@media (min-width: 750px) {
    .logo-position { text-align: left; }
    .logo-cs { margin-top: 4rem; display: inline; }
    .cs-name-white { margin-top: 4rem; padding-left: 1rem; display: inline; }
    .cs-nav { margin-top: 9.8rem; padding-top: 0rem; }
    .project-process { width: 40rem; line-height: 2.5rem; margin: 0 auto; padding-bottom: 8rem; }
    .float-right{ text-align: right; }
    .souschef-stove-intro { margin-bottom: 6rem;}
    .title-centered { margin-bottom: 4rem;}
    .cs-section { margin-bottom: 6rem; }
    .quote-section { margin-bottom: 14rem; }
    .design-challenge { text-align: left; }
    .dc-spacing { padding-left: 2rem;}
    .inset {padding: 5rem;}
    .visible-mobile { display: none !important; }
    .hidden-mobile { display: inline !important; }
}

@media (min-width: 1000px){
    .cs-title { width: 50rem; margin: 0 auto; padding: 7rem 0 3rem 0; }
    .project-time { font-size: 2.6rem; }
    .project-process { font-size: 2rem; width: 45rem; line-height: 3.2rem; margin: 0 auto; padding-bottom: 8rem; }
    .souschef-stove-intro { margin-bottom: 10rem;}
    .title-centered { margin-bottom: 5rem;}
    .cs-section { margin-bottom: 10rem; }
    .quote-section { margin-bottom: 15rem; }
    .gray-section .light-gray-section .teal-section { padding: 10rem 0rem; margin-bottom: 10rem; }
    .what-I-made { padding: 5rem 0 50rem 0; }
    .logo-samsung { width: 45rem; padding: 20rem 0;}
}
@media (min-width: 1200px){
    .what-I-made .ui-elements { padding: 5rem 0 70rem 0; }
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer-rule {
    width: 5rem;
    border-bottom: 2px solid #acb3b6;
    margin: 0 auto;
    padding-top: 10rem;
}
.footer-type {
    font-size: 1.7rem;
    color: #acb3b6;
    margin-top: 2rem;
}

/* Custom
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  text-align: center;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
